/* General */
:root {
    --text-border-color: black;
    --text-border: 1px 1px 0 var(--text-border-color),
    -1px 1px 0 var(--text-border-color),
    1px -1px 0 var(--text-border-color),
    -1px -1px 0 var(--text-border-color),
    0px 1px 0 var(--text-border-color),
    0px -1px 0 var(--text-border-color),
    -1px 0px 0 var(--text-border-color),
    1px 0px 0 var(--text-border-color),
    2px 2px 0 var(--text-border-color),
    -2px 2px 0 var(--text-border-color),
    2px -2px 0 var(--text-border-color),
    -2px -2px 0 var(--text-border-color),
    0px 2px 0 var(--text-border-color),
    0px -2px 0 var(--text-border-color),
    -2px 0px 0 var(--text-border-color),
    2px 0px 0 var(--text-border-color),
    1px 2px 0 var(--text-border-color),
    -1px 2px 0 var(--text-border-color),
    1px -2px 0 var(--text-border-color),
    -1px -2px 0 var(--text-border-color),
    2px 1px 0 var(--text-border-color),
    -2px 1px 0 var(--text-border-color),
    2px -1px 0 var(--text-border-color),
    -2px -1px 0 var(--text-border-color);
}
@font-face {
    font-family: "Impact";
    src: url("/font/impact.ttf") format("truetype"), url("/font/impact.woff") format("woff");
}

/* Page content */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* text-align: center; */
    background-color: #83b3da;
    background: linear-gradient(130deg, rgba(131,179,218,1) 60%, rgba(114,168,212,1) 60%);
}

div.hr {
    border: 0px;
    border-top-width: 1px;
    border-color: #e5e5e561;
    border-style: solid;
    margin: 10px 0px;
}

/* Header */
header.header {
    display: flex;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Idioma */
div.lang  {
    display: flex;
    gap: 10px;
    align-items: center;
}
div.lang > button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
}
div.lang > button img {
    height: 16px;
    cursor: pointer;
}

/* Game */
div#game-container {
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    width: 80%;
    /* padding: 20px; */
    padding: 40px;
    margin-top: 50px;


    /* border: 1px solid; */
    border: 2px solid;
    /* border-radius: 3px; */
    border-radius: 7px;
    border-color: #e5e5e53d;
    background: #ffffff29;
}

div#game-container > .title {
    width: 100%;
    text-align: center;
    /* font-size: 30px; */
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 3px;

    color: white;
    font-family: "Impact", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: var(--text-border);
}

div#game-container > div#vidas {
    display: flex;
    justify-content: center;
    /* gap: 3px; */
    gap: 8px;

    --heart-display: initial; /* Representación del conteo de vidas */
}

/* Contador de vidas */
div#game-container > div#vidas img {
    image-rendering: pixelated;
    /* height: 22px; */
    height: 55px;
}
div#game-container > div#vidas[lifecount="3"] img:not(.c-3),
div#game-container > div#vidas[lifecount="2"] img:not(.c-2),
div#game-container > div#vidas[lifecount="1"] img:not(.c-1),
div#game-container > div#vidas[lifecount="0"] img:not(.c-0) {
    --heart-display: none;
}
div#game-container > div#vidas[lifecount="3"] img.c-3,
div#game-container > div#vidas[lifecount="2"] img.c-2,
div#game-container > div#vidas[lifecount="1"] img.c-1,
div#game-container > div#vidas[lifecount="0"] img.c-0 {
    --heart-display: initial;
}
div#game-container > div#vidas img.c-3,
div#game-container > div#vidas img.c-2,
div#game-container > div#vidas img.c-1,
div#game-container > div#vidas img.c-0 {
    display: var(--heart-display);
}


div.instrucciones {
    /* padding: 0px 40px; */
    padding: 0px 80px;
    color: gray;
    text-align: justify;
    /* font-size: 10px; */
    font-size: 30px;
}

div.control {
    padding: 10px 40px;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    /* margin: auto; */
    margin-top: 20px;
}
div.control label {
    display: none;
}

div.control input#numero {
    padding: 6px 12px;
    border: 1px solid;
    border-color: #e5e5e53d;
    background: #ffffff2e;
    border-radius: 3px;
    /* font-size: 10px; */
    font-size: 30px;
    text-align: center;
    min-width: 500px;
}
div.control input#numero:focus-visible {
    outline: 0px;
}
div.control input#numero:focus-visible {
    border-color: #58a7c182;
}
div.control input#numero::placeholder {
    color: rgba(135, 155, 179, 0.555);
}
div.control input#numero:disabled {
    background-color: #cfcfcf57;
    border-color: #d7d7d757;
}
div.control input#numero:disabled::placeholder {
    opacity: 0;
}


div#alerts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 3px;
    /* height: 25px; */
    height: 60px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
}
div#alerts > div {
    display: none;
}
div#alerts > div.alert {
    color: #444;
    /* font-size: 10px; */
    font-size: 30px;
}

div#alerts .fake-button {
    border: 1px solid;
    font-size: 9px;
    font-size: 25px;

    padding: 6px 12px;
    border-radius: 6px;
    background: #dfb240;
    color: #ffffff;
    border-color: #8181813a;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
div#alerts .fake-button:hover {
    background: rgb(201, 154, 35);
}